<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>

    <tr class="data-row" *ngFor = "let newData of satellites"> 
        <td> {{newData.name}}</td>
        <td [class.warning]="newData.isSpaceDebris()" > {{newData.type}} </td>
        <td> {{newData.operational}}</td>
        <td> {{newData.orbitType}} </td>
        <td>{{newData.launchDate}}</td>
    </tr>
 
    
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table ---12/07== sucess-->

<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
<!--- I think it should be  -- 
 [ngClass]="{
            'warning': isSpaceDebris()==true or isSpaceDebris(true)
 }"
    
   based on tutorial in https://malcoded.com/posts/angular-ngclass/
from book: could also use  *ngIf= "this.isSpaceDebris()" but would have to call warning sepratly 

or from stack overflow: 
let newData["ngClass"]="{'warning': newData.orbitType=='Space Debris'}" 

-->

